Body {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 2rem;
}
btn-container {
  display: flex;
}
button {
  background-color: orange;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 2rem;
  transition: transform 0.2s, background-color 0.2s;
}

button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}
button:last-child {
  margin-right: 0;
}
