body {
  background-color: rgb(44, 44, 44);
}

h1 {
  color: aliceblue;
  /* font-size: xx-large; */
  font-size: 4rem;
}

btn-container {
  display: flex;
}

button {
  
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 2rem;
}

button:last-child {
  margin-right: 0;
}
